.AlldoableWrapper{
  padding: 60px 120px;
  position: relative;

}

.AlldoableImage{
  width: 100%;
}

.AlldoableHeading{
  margin: 0;
  position:absolute;
  font-size: 45px;
  color: white;
  left: 20%;
  top: 40%;
}